nav.navbar.navbar-default {
  margin-bottom: 0;
}

nav {
  position: sticky;
  width: 100%;
}

.navbar-toggler:focus, .navbar-toggler:active, button:hover {
  outline: none !important;
  box-shadow: none !important;
}

a {
  font-family: 'PT Sans', sans-serif;
}

.navbar-brand {
  font-weight: bold;
}